@font-face {
    font-family: "nexonLv1";
    font-weight: 100;
    font-style: normal;
    src: url("../../fonts/NEXON Lv1 Gothic Light.woff2") format("woff2"),
         url("../../fonts/NEXON Lv1 Gothic Light.woff") format("woff");
    font-display: swap;
}
@font-face {
    font-family: "nexonLv1";
    font-weight: 400;
    font-style: normal;
    src: url("../../fonts/NEXON Lv1 Gothic.woff2") format("woff2"),
         url("../../fonts/NEXON Lv1 Gothic.woff") format("woff");
    font-display: swap;
} 
@font-face {
    font-family: "nexonLv1";
    font-weight: 700;
    font-style: normal;
    src: url("../../fonts/NEXON Lv1 Gothic Bold.woff2") format("woff2"),
         url("../../fonts/NEXON Lv1 Gothic Bold.woff") format("woff");
    font-display: swap;
} 
@font-face {
    font-family: "nanumSquareNeo";
    font-weight: 300;
    font-style: normal;
    src: url("../../fonts/NanumSquareNeo-Light.woff2") format("woff2"),
         url("../../fonts/NanumSquareNeo-Light.woff") format("woff");
    font-display: swap;
}
@font-face {
    font-family: "nanumSquareNeo";
    font-weight: 400;
    font-style: normal;
    src: url("../../fonts/NanumSquareNeo-Rg.woff2") format("woff2"),
         url("../../fonts/NanumSquareNeo-Rg.woff") format("woff");
    font-display: swap;
}
@font-face {
    font-family: "nanumSquareNeo";
    font-weight: 700;
    font-style: normal;
    src: url("../../fonts/NanumSquareNeo-Bd.woff2") format("woff2"),
         url("../../fonts/NanumSquareNeo-Bd.woff") format("woff");
    font-display: swap;
}
@font-face {
    font-family: "nanumSquareNeo";
    font-weight: 800;
    font-style: normal;
    src: url("../../fonts/NanumSquareNeo-Eb.woff2") format("woff2"),
         url("../../fonts/NanumSquareNeo-Eb.woff") format("woff");
    font-display: swap;
}
@font-face {
    font-family: "nanumSquareNeo";
    font-weight: 900;
    font-style: normal;
    src: url("../../fonts/NanumSquareNeo-Hv.woff2") format("woff2"),
         url("../../fonts/NanumSquareNeo-Hv.woff") format("woff");
    font-display: swap;
}
